*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-container{
    margin-top: 1em;
    background: white;
    padding: 1em .5em;
    border-radius: 4px;
}
.about-container{
    padding: 1em;
}
.about-title{
    font-size: 25px;
}
.common-heading{
    font-size: 19px;
}
.common-info{
    padding-left: 2em;
    font-size: 17px;
}