
$langbgColor: rgb(233, 232, 232);
$langColor: white;
$content-quality-color: white;
$content-quality-bgcolor: rgba(0, 0, 0, 0.824);
$theme-bgcolor: black;
$theme-color: white;
$content-links-hover: #ff7b00;
$episode-color:linear-gradient(to right,#001affc4,#0693f1d6);
$red: red;
$langs-bg-color:#f39191;
$season-bg: orange;
$movie-list-bg: whitesmoke;